/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */
/* purgecss start ignore */

.contentContainer {
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  height: 100%;
}

.shortText {
  @apply h-1;
}

#listContainer {
  flex: 5;
}

#sidebar {
  flex: 2;
}

li.sidebarLetter {
  @apply text-tangerine;
}

/* purgecss end ignore */
/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
