/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */
/* purgecss start ignore */



* {
  max-width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  max-width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

/* all links are now red */

a {
  @apply text-primary;
}

/* style the header of the page */

header {
  box-shadow: 0 1rem 5rem -0.5rem #0e141b;
  grid-template-columns: 385px repeat(11, 1fr);
  grid-template-rows: 1fr;
  @apply fixed;
}

#siteLogo {
  grid-column: 3 / 3;
  margin-top: 5px;
}

#rightHeader {
  grid-column: 5 / 9;
  display: flex;
  justify-content: space-between;
}

#linksContainer {
  font-size: 20px;
}

h1 {
  @apply text-5xl mb-6 mt-6 font-bold text-primary;
}

p {
  @apply mb-5;
}

/* search styling */

.algolia-autocomplete {
  grid-column: 3 / 5;
  margin-right: 20px;
  flex: 1;  
}


#aa-search-input {
  height: 30px;
  /* margin-right: 60px; */
  padding-left: 1.5rem;
  /* padding-right: 2.25rem; */
  border-color: #55637e;
  border-width: 1px;
  border-style: solid;
  color: #909cb3;
  background-color: #0e141f;
  outline: none;
  border-radius: 2em;
}

.aa-input-search::placeholder {
  @apply italic;
}

.aa-input-search {
  width: 100%;
  height: 90%;
  padding: 0;
}

.aa-dropdown-menu {
  background-color: #374051;
  height: 500px;
  /* width: 60%; */
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;
  border-radius: 4px;
  /* left: -65px !important; */
}

.aa-dropdown-menu::-webkit-scrollbar-track {
  background-color: inherit;
}

.aa-dropdown-menu::-webkit-scrollbar{
  width: 10px;
  background-color: #3d4558;
}

.aa-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #53576E;
}

pre {
  margin-top: 3px;
}

pre:before {
  display: block;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #374051;
  top: -7px;
  border-top: 1px solid #0e141f;
  border-right: 1px solid #0e141f;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
  left: 85px;
}

.aa-cursor {
  background-color: rgba(255,203,54,0.15);
}

.aa-suggestion {
  margin-bottom: 10px;
  padding: 10px 20px 10px 18px;
  z-index: 1;
}

.ais-Highlight {
  @apply text-title;
  background-color: rgba(255,203,54,0.25);
  font-style: initial;
}

a.searchtitle {
  @apply text-title;
}

span.searchcontentcontainer {
  @apply text-text;
}

.aa-suggestion:last-of-type::after {
  background-image: url(../images/Algolia-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  content: "";
  width: 110px;
  height: 40px;
  z-index: 1001;
  display: block;
  margin-top: 30px;
  float: right;
  margin-bottom: 10px;
}

/* search ends*/


/* the top links that appear in the header */

#linksContainer .siteLink {
  color: #fff;
}

.siteLink {
  margin-right: 20px;
}

.siteLink:last-child {
  margin-right: 0;
}

/* main page content positioning stuff */

#setContent {
  @apply grid leading-relaxed;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 140px;
}

#contentWrapper {
  @apply flex flex-col leading-relaxed;
  grid-column: 3 / 9;
}

#astronaut {
  @apply flex flex-col items-center sticky;
  grid-column: 10 / 12;
  top: 140px;
}

#astronaut img {
  @apply sticky mt-6 opacity-25;
  width: 340px;
  filter: grayscale(100%);
  top: 164px;
}

#morelinks {
  @apply sticky justify-center items-center;
  grid-column: 2 / 3;
  top: 286px;
}

#morelinks a {
  @apply text-text text-xl capitalize;
}

#mainContent {
  @apply flex-col flex leading-relaxed;
}

#sidebar {
  @apply self-start sticky;
  grid-column: 1 / 1;
  top: 140px;
}

/* main content paragraph hits different */

#mainContent p {
  @apply text-xl text-text m-0 mb-5 leading-6;
}

/* links in the sidebar hit different */

a.sidebarLetter {
  @apply text-text border border-box border-solid w-full pr-4 text-right mb-4;
  margin-right: 22rem;
  border-left: solid 0px transparent;
  transform: skew(-0.65rad);
  transition: transform 0.2s linear;
}

a.sidebarLetter.is-active {
  transform: translateX(150px) skew(-0.65rad);
  @apply border-secondary;
}

a.sidebarLetter:hover {
  transform: translateX(150px) skew(-0.65rad);
  @apply border-box;
}

a.sidebarLetter span {
  display: block;
  transform: skew(0.65rad);
}

a.sidebarLetter span:after {
  content: '';
  height: 28px;
  width: 10px;
  top: -1px;
  right: -35px;
  transform: skew(-0.65rad);
  @apply absolute bg-box;
}

a.sidebarLetter:hover span:after {
  @apply bg-secondary;
}

a.sidebarLetter.is-active span:after {
  @apply bg-secondary;
}

/* main page box stuff */

.contentContainer {
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  height: 100%;
}

.shortText {
  @apply h-1;
}

#listContainer {
  flex: 5;
}

.boxContainer {
  @apply flex flex-col mt-8 mb-8;
}

.boxHeader {
  @apply h-6 bg-box;
}

.glowbox {
  padding: 12px 4px 12px 30px;
  margin: 0 0 0 0;
  border-radius: 0;
  font-size: 16px;
  line-height: 1.71;
  padding-left: 15px;
  @apply text-text bg-background border-2 border-solid border-box;
}

.entryContainer {
  scroll-margin-top: 11em;
}

.authorContainer {
  @apply text-title;
}

.anchorjs-link {
  visiblity: none;
}

.authorName {
  @apply inline-block;
  scroll-margin-top: 11em;
}

.authorName.randomlySelected {
  @apply text-primary;
}

.titleName {
  @apply inline-block;
}

.icon-background {
  @apply text-secondary;
}

.fa-caret-down {
  @apply self-start;
  margin-top: -8px;
  margin-right: 4px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;  
}

.fa-caret-down.rotate {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

#backToTop {
  position: fixed;
  color: #F97373;
  font-size: 1.25rem;
  height: 23px;
  top: 96vh;
  right: 10px;
  font-family: FontAwesome;
}

/* purgecss end ignore */
/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
