
<header div="mainHeader" class="bg-background z-10 grid items-center justify-center w-full h-24">
  <a id="siteLogo" href="/index.html">
    <img src="/images/astrologohor.png"/>
  </a>
  <!-- search time -->
  <div id="rightHeader">
    <input type="text" id="aa-search-input" class="aa-input-search" placeholder="Search anarchySF" name="search" autocomplete="on" />
    <div id="linksContainer" class="flex">
      <a href="about.html" class="siteLink">About us</a>
      <a href="#" class="siteLink">Contribute</a>
      {# <a href="#" class="siteLink">Random article</a> #}
    </div>
  </div>
</header>