
<header class="bg-background z-10 flex justify-around items-center w-full h-24">
  <img id="siteLogo" src="/images/astrologohor.png" style="width:320px;"/>
  <div id="linksContainer" class="flex justify-between">
    <a href="#" class="siteLink">About us</a>
    <a href="#" class="siteLink">Contribute</a>
  </div>
</header>



