
<header class="bg-background z-10 flex items-center justify-center w-full h-24">
  <img id="siteLogo" src="/images/astrologohor.png" style="width:320px;"/>
  <!-- search time -->
  <input type="text" id="aa-search-input" class="aa-input-search" placeholder="Search anarchySF" name="search" autocomplete="on" />
  <div id="linksContainer" class="flex justify-between">
    <a href="#" class="siteLink">About us</a>
    <a href="#" class="siteLink">Contribute</a>
  </div>
</header>



