
<div id="astronaut" class="flex flex-col">
  <div id="morelinks" class="flex flex-col">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
</div>
