
<div id="astronaut">
<img src="../images/astronautnotext.png" />
  <div id="morelinks" class="flex flex-col">
    <a target="_blank" href="https://anchor.fm/anarchysf">Podcast</a>
    <a href="anarchists-on-sf.html">Anarchists on the genre</a>
    <a href="recommended.html">Recommended items</a>
    <a href="worksforconsideration.html">Works for consideration</a>
    <a href="#" onclick="randomEntry(event)">✨Random article✨</a>
  </div>
</div>
