
<div id="astronaut">
<img src="../images/astronautnotext.png" />
  <div id="morelinks" class="flex flex-col">
    <a href="#">Podcast</a>
    <a href="#">Anarchists on the genre</a>
    <a href="#">Recommended items</a>
    <a href="#">Works for consideration</a>
    <a href="#" onclick="randomEntry(event)">✨Random article✨</a>
  </div>
</div>
