<ul id="sidebar" class="items-end flex flex-col">
    <a id="link-a" href="#letter-a" class="sidebarLetter mt-12"><span>A</span></a>
    <a id="link-b" href="#letter-b" class="sidebarLetter"><span>B</span></a>
    <a id="link-c" href="#letter-c" class="sidebarLetter"><span>C</span></a>
    <a id="link-d" href="#letter-d" class="sidebarLetter"><span>D</span></a>
    <a id="link-e" href="#letter-e" class="sidebarLetter"><span>E</span></a>
    <a id="link-f" href="#letter-f" class="sidebarLetter"><span>F</span></a>
    <a id="link-g" href="#letter-g" class="sidebarLetter"><span>G</span></a>
    <a id="link-h" href="#letter-h" class="sidebarLetter"><span>H</span></a>
    <a id="link-i" href="#letter-i" class="sidebarLetter"><span>I</span></a>
    <a id="link-j" href="#letter-j" class="sidebarLetter"><span>J</span></a>
    <a id="link-k" href="#letter-k" class="sidebarLetter"><span>K</span></a>
    <a id="link-l" href="#letter-l" class="sidebarLetter"><span>L</span></a>
    <a id="link-m" href="#letter-m" class="sidebarLetter"><span>M</span></a>
    <a id="link-n" href="#letter-n" class="sidebarLetter"><span>N</span></a>
    <a id="link-o" href="#letter-o" class="sidebarLetter"><span>O</span></a>
    <a id="link-p" href="#letter-p" class="sidebarLetter"><span>P</span></a>
    <a id="link-q" href="#letter-q" class="sidebarLetter"><span>Q</span></a>
    <a id="link-r" href="#letter-r" class="sidebarLetter"><span>R</span></a>
    <a id="link-s" href="#letter-s" class="sidebarLetter"><span>S</span></a>
    <a id="link-t" href="#letter-t" class="sidebarLetter"><span>T</span></a>
    <a id="link-u" href="#letter-u" class="sidebarLetter"><span>U</span></a>
    <a id="link-v" href="#letter-v" class="sidebarLetter"><span>V</span></a>
    <a id="link-w" href="#letter-w" class="sidebarLetter"><span>W</span></a>
    <a id="link-x" href="#letter-x" class="sidebarLetter"><span>X</span></a>
    <a id="link-y" href="#letter-y" class="sidebarLetter"><span>Y</span></a>
    <a id="link-z" href="#letter-z" class="sidebarLetter"><span>Z</span></a>
</ul>
