<ul id="sidebar" class="flex flex-col">
    <li class="sidebarLetter">A</li>
    <li class="sidebarLetter">B</li>
    <li class="sidebarLetter">C</li>
    <li class="sidebarLetter">D</li>
    <li class="sidebarLetter">E</li>
    <li class="sidebarLetter">F</li>
    <li class="sidebarLetter">G</li>
    <li class="sidebarLetter">H</li>
    <li class="sidebarLetter">I</li>
    <li class="sidebarLetter">J</li>
    <li class="sidebarLetter">K</li>
    <li class="sidebarLetter">L</li>
    <li class="sidebarLetter">M</li>
    <li class="sidebarLetter">N</li>
    <li class="sidebarLetter">O</li>
    <li class="sidebarLetter">P</li>
    <li class="sidebarLetter">Q</li>
    <li class="sidebarLetter">R</li>
    <li class="sidebarLetter">S</li>
    <li class="sidebarLetter">T</li>
    <li class="sidebarLetter">U</li>
    <li class="sidebarLetter">V</li>
    <li class="sidebarLetter">W</li>
    <li class="sidebarLetter">X</li>
    <li class="sidebarLetter">Y</li>
    <li class="sidebarLetter">Z</li>
</ul>
