<meta name="twitter:card" content="https://www.anarchysf.com/img/astrologohor.png">
<meta name="twitter:site" content="AnarchySF" />
<meta name="twitter:creator" content="@tallesteden" />
<meta property="og:url" content="https://anarchysf.com/" />
<meta property="og:title" content="AnarchySF" />
<meta property="og:description" content="An open-source repository of anarchist science fiction" />
<meta property="og:image" content='https://www.anarchysf.com/img/astrologohor.png' />
