<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/src/site/_includes/css/stars.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
    <script src="https://kit.fontawesome.com/65e4b01849.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-carmine">
    {% include "header.njk" %}
    <div class="content flex leading-relaxed">
      {{ content | safe }}
    </div>
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script src="https://unpkg.com/in-view@0.6.1/dist/in-view.min.js"></script>
    <script>{{ js | safe }}</script>
  </body>
</html>



