---
title: ElevenTail
layout: default
---
{% include "sidebar.njk" %}
<div id="listContainer" class="pr-32 md:pr-56 text-left mb-4 mt-4">
 {%- for post in collections.mainPages -%}
<div onclick="contentCollapse(event)" id="letter-{{ post.data.category }}" class="entryContainer flex items-start justify-between glowbox cursor-pointer">
  <div class="entryContent flex flex-col">
  <div class="authorContainer flex items-center text-tangerine cursor-pointer">
    {{ post.data.author }} - {{ post.data.title }}
    {# <span class="fa-stack"> #}
      {# <i class="far fa-circle fa-stack-2x icon-background opacity-75"></i> #}
      {%- if post.data.format === "book" -%}
      <i class="typeIcon fas fa-book text-tiffany ml-2 opacity-100"></i>
      {%- else -%}
      <i class="typeIcon fas fa-film text-tiffany ml-2 opacity-100"></i>
      {%- endif -%}
    {# </span> #}
  </div>
  <div class="contentContainer text-quicksilver shortText invisible opacity-0">{{ post.templateContent | safe }}</div>
  </div>
  <div class="iconContainer flex">
<i onclick="contentRotate(event)" class="fas fa-caret-down text-tangerine ml-4 opacity-75"></i>
</div>
</div>
{%- endfor -%}
</div>
